[Unit]
Description=Prometheus Exporter for restic Metrics
After=network.target

[Service]
User=restic_exporter
ExecStart=/bin/python3 -u /opt/restic_exporter/restic_prometheus_exporter.py /opt/restic_exporter/config.ini
Restart=always

[Install]
WantedBy=multi-user.target
